*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* logo */

body{
    background-color: #f6f8f9;
    /* da fixare */
}
header{
    padding: 10px;
    margin-bottom: 50px;
    background-color: white;
}
#logo{
    vertical-align: middle;
    padding-bottom: 10px;
}
h1{
    display: inline-block;
    
}
/* button section */
main{
    background-color: white;
    border-radius: 20px;
    margin: 10px 100px;
    
    
}

.nav-bar{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 50px;

    border-bottom: 2px solid #f6f8f9;
}
.buttons{
    border-radius: 5px;
    border-style: none;
    font-size: 10px;
    padding: 5px 10px;
}
#blue-button{
    background-color: #47adf1;
    color: white;
}

/* task */

.windows{
    padding-left: 50px;
    padding-top: 10px;
}
h2{
    padding-top: 10px;
    padding-bottom: 10px;
}
.check-mark{
    display: inline-block;
    color: lightgreen;

    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 2px solid lightgreen;
    text-align: center;
}